body {
  font-family: -apple-system, segoe UI, Roboto;
  text-align: center;
}

#main {
  background: #eee;
  margin: 10px;
  border-radius: 8px;
}

#image {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
  min-width: 100px;
  height: auto;
}

#img-div {
  background: white;
  padding: 20px;
  margin: 0;
}

a:link,
a:visited {
  color: green;
  text-decoration: none;
}
blockquote {
  font-style: italic;
}
